{% for offer in offers %}
    <article class="article-card">
        <img src="img/DM.jpeg" alt="Image de l'offre">
        <div class="article-content">
            <h3>{{ offer.title }}</h3>
            <p class="category">{{ offer.city }}</p>
            <p class="price">{{ offer.wage }}</p>
            <p class="date">{{ offer.length }}</p>
        </div>
    </article>
{% else %}
    <p>Aucune offre disponible pour le moment.</p>
{% endfor %}