<input type="checkbox" id="nav-toggle" class="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav>
    <div class="logo-container">
        <img src="img/blossom-removebg-preview.png" alt="LeBonPlan Logo">
    <ul>
        <li><a href="#" class="active">Accueil</a></li>
        <li><a href="Offres.html">Offre de stage</a></li>
        <li><a href="#">Entreprises</a></li>
        <li><a href="#">Utilisateurs</a></li>
        <li><a href="Contact.html">Nous contacter</a></li>
    </ul>
    </div>
    <a href="Connexion.html" class="login-btn">Se connecter / S'inscrire</a>
</nav>