:root {
    --background-color: rgb(197, 231, 251);
    --primary-color: #2563eb;
    --text-color: #1e40af;
}
/* Réinitialisation de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Style de la navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(197, 231, 251);
    color: white;
    padding: 5px 10px;
}

/* Logo */
.logo img {
    width: 120px;
    height: auto;
    object-fit: contain;
}

/* Liste des liens */
.nav-links {
    list-style: none;
    display: flex;
    padding: 0.5rem 1rem;
    margin-right: auto;
}

.nav-links li {
    margin: 10px 20px;
    background-color: var(--background-color);
}

.nav-links a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
}

.login-btn {
    list-style: none;
}

.login-btn li {
    margin: 10px 20px;
}

.login-btn a {
    border: 2px solid var(--text-color);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: 0.3s;
    text-decoration: none;
    color: var(--text-color);
}

.login-btn a:hover {
    background-color: var(--text-color);
    color: white;
}

/* Cacher le menu burger sur desktop */
.menu-icon, #menu-toggle {
    display: none;
}

/* Version mobile */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: var(--background-color);
    }

    .login-btn {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 395px;
        left: 0;
        width: 100%;
        background: var(--background-color);
    }

    .nav-links li, .login-btn li {
        text-align: center;
        padding: 10px 0;
    }

    /* Afficher le menu quand on coche */
    #menu-toggle:checked + .menu-icon + .nav-links,
    #menu-toggle:checked + .menu-icon + .nav-links + .login-btn {
        display: flex;
    }
}
